{% extends "base.html" %}
{% block title %}
Вход администратора
{% endblock %}
{% block content %}
<h1 class="mb-4">Вход администратора</h1>
<form method="POST">
    <div class="mb-3">
    <label class="form-label">Токен администратора</label>
    <input class="form-control" type="password" name="token">
        {% if error %}
        <div class="alert alert-danger">
            {{ error }}
        </div>
        {% endif %}
    </div>

    <button class="btn btn-primary" type="submit">
        Войти
    </button>
</form>
{% endblock %}