<h1>Регистрация</h1>

<form method="POST">
    <input type="text" name="first_name" value="{{ student.first_name or '' }}" placeholder="Введите имя">
    {% if errors.first_name %}<p>{{ errors.first_name }}</p>{% endif %}
    <input type="text" name="last_name" value="{{ student.last_name or '' }}" placeholder="Введите фамилию">
    {% if errors.last_name %}<p>{{ errors.last_name }}</p>{% endif %}
    <label>
    <input type="radio" name="gender" value="мужской" {% if student.gender == "мужской" %} checked {% endif %}>
    Мужской
    </label>
    <label>
    <input type="radio" name="gender" value="женский" {% if student.gender == "женский" %} checked {% endif %}>
    Женский
    </label>
    {% if errors.gender %}<p>{{ errors.gender }}</p>{% endif %}
    <input type="text" name="group_number" value="{{ student.group_number or '' }}" placeholder="Введите номер группы">
    {% if errors.group_number %}<p>{{ errors.group_number }}</p>{% endif %}
    <input type="text" name="email" value="{{ student.email or '' }}" placeholder="Введите email">
    {% if errors.email %}<p>{{ errors.email }}</p>{% endif %}
    <input type="number" name="exam_score" value="{{ student.exam_score or '' }}" placeholder="Введите баллы ЕГЭ">
    {% if errors.exam_score %}<p>{{ errors.exam_score }}</p>{% endif %}
    <input type="number" name="birth_year" value="{{ student.birth_year or '' }}" placeholder="Введите год рождения">
    {% if errors.birth_year %}<p>{{ errors.birth_year }}</p>{% endif %}
    <label>
    <input type="checkbox" name="is_local" {% if student.is_local %} checked {% endif %}>
    Местный
    </label>
    <button type="submit">Отправить</button>
</form>
