<h1>Регистрация</h1>

<form method="POST">
    <input type="text" name="first_name">
    <input type="text" name="last_name">
    <label>
    <input type="radio" name="gender" value="мужской">
    Мужской
    </label>
    <label>
    <input type="radio" name="gender" value="женский">
    Женский
    </label>
    <input type="text" name="group_number">
    <input type="text" name="email">
    <input type="number" name="exam_score">
    <input type="number" name="birth_year">
    <label>
    <input type="checkbox" name="is_local">
    Местный
    </label>
    <button type="submit">Отправить</button>
</form>