<h1>Регистрация</h1>

<form method="POST">
    <input type="text" name="first_name" placeholder="Введите имя">
    <input type="text" name="last_name" placeholder="Введите фамилию">
    <label>
    <input type="radio" name="gender" value="мужской">
    Мужской
    </label>
    <label>
    <input type="radio" name="gender" value="женский">
    Женский
    </label>
    <input type="text" name="group_number" placeholder="Введите номер группы">
    <input type="text" name="email" placeholder="Введите email">
    <input type="number" name="exam_score" placeholder="Введите баллы ЕГЭ">
    <input type="number" name="birth_year" placeholder="Введите год рождения">
    <label>
    <input type="checkbox" name="is_local">
    Местный
    </label>
    <button type="submit">Отправить</button>
</form>