<h1>Поиск абитуриентов</h1>

<form method="GET">
    <input type="text" name="q" value="{{ query }}">
    <button type="submit">Найти</button>
</form>

{% if query and not students %}
    <p>Ничего не найдено.</p>
{% endif %}

{% if query and students %}
    <p>
        Показаны только абитуриенты, найденные по запросу «{{ query }}».
    </p>

    <a href="/">Показать всех абитуриентов</a>

    <table>
        <tr>
            <th>Имя</th>
            <th>Фамилия</th>
            <th>Группа</th>
            <th>Баллы ЕГЭ</th>
        </tr>

        {% for student in students %}
        <tr>
            <td>
                {{ student.first_name }}

                {% if student.auth_token == current_token or is_superuser %}
                    <a href="/students/{{ student.id }}/edit">✏️</a>
                    <a href="/students/{{ student.id }}/delete">🗑️</a>
                {% endif %}
            </td>
            <td>{{ student.last_name }}</td>
            <td>{{ student.group_number }}</td>
            <td>{{ student.exam_score }}</td>
        </tr>
        {% endfor %}
    </table>
{% endif %}
{% for p in range(1, total_pages + 1) %}
    {% if p == page %}
        <strong>{{ p }}</strong>
    {% else %}
        <a href="/search?q={{ query }}&page={{ p }}">
            {{ p }}
        </a>
    {% endif %}
{% endfor %}