<h1>Поиск абитуриентов</h1>

<form method="GET">
    <input type="text" name="q" value="{{ query }}">
    <button type="submit">Найти</button>
</form>
{% if query and not students %}
    <p>Ничего не найдено.</p>
{% endif %}

{% if query and students %}
<p>
    Показаны только абитуриенты, найденные по запросу «{{ query }}».
</p>

<a href="/">Показать всех абитуриентов</a>
{% endif %}

{% for student in students %}
    <p>
        {{ student.first_name }}
        {{ student.last_name }}
        ({{ student.group_number }})
    </p>
    <a href="/students/{{ student.id }}/edit">Изменить</a>
    <a href="/students/{{ student.id }}/delete">Удалить</a>
{% endfor %}